@using Microsoft.AspNetCore.Identity;

<h1>Modificar Categoria</h1>

<form method="post">
    @if(TempData["mensaje"]!=null){
        <div>@TempData["mensaje"]</div>
    }
    <div class="form-group">
        <label>Mueble</label>        
        <select class="form-control" name="muebleId">
            @foreach (var item in (List<Usuario>)ViewBag.Usuarios)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Categoria</label>        
        <select class="form-control" name="categoriaId">
            @foreach (var item in (List<Categoria>)ViewBag.Categorias)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>
    
    <button class="btn btn-primary">Asociar</button>
</form>