
@model Usuario

<h1>Información del Usuario</h1>

<div>
    <p>Nombre:</p>
    <p>@Model.Nombre </p>   
</div>

<div>
    <p>Apellido Paterno:</p>
    <p>@Model.ApePaterno </p>
</div>
<div>
    <p>Apellido Paterno:</p>
    <p>@Model.ApeMaterno </p>
</div>
<div>
    <p>Correo Electrónico:</p>
    <p>@Model.Correo </p>
</div>
<div>
    <p>Dirección:</p>
    <p>@Model.Direccion </p>
</div>
<div>
    <p>Referencia:</p>
    <p>@Model.Referencia </p>
</div>
<div class="form-group">
        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre" class="form-control">
    </div>
