@model PerfilViewModel

<h1>Perfil usuario @Model.Cliente.Username </h1>

<div class="row">


<h2>Contratos</h2>

<table>
<th>
    <td>Nombre</td>
    <td>Nombre</td>
    <td>Nombre</td>
</th>


</table>

@foreach (var item in Model.Contratos)
{
    <tr>
    <div class="col-md-4 text-center my-3">
        <h2>@item.NombreTemporal (@item.TipoMascota)</h2>
    
        <p>@item.Descripcion</p>
        <img src="@item.Foto" >

        @if (item.Albergue != null) {
            <p>Esta mascota se encuentra en 
                el albergue: @item.Albergue.Nombre</p>
            <p>Si deseas visitar a esta mascota, 
                la dirección es: @item.Albergue.Direccion
            </p>
        }

        
        <div>
            <a asp-action="Adoptar" asp-route-codigo="@item.Id" class="btn btn-danger btn-lg">Adoptar</a>
        </div>
    </div>

    </tr>
}
    

</div>