@model Mueble

<h1>@Model.Nombre</h1>

<p>Descripción: @Model.Descripcion</p>

<p>Color: @Model.Color</p>

<p>Precio: @Model.Precio</p>

<p>Stock: @Model.Stock</p>

<p>Foto:</p>
<img src="@Model.Foto" width="400px"/>

<a href="~/Contrato/RegistrarContrato?id=@Model.Id" class="btn btn-primary">Realizar Contrato</a>
