@model List<PedidoEspecial>

<h1>Pedidos Especiales del cliente</h1>
<Table>
    <tr>
        <th>Nombre Mueble</th>
        <th>Descripción</th>
        <th>Color</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Foto</th>
    </tr>
@foreach (var item in Model)
{
    <form>
        <input asp-for="Nombre" value="@item.Nombre" hidden>
        <input asp-for="Descripcion" value="@item.Descripcion" hidden>
        <input asp-for="Color" value="@item.Color" hidden>
        <input asp-for="Precio" value="@item.Precio" hidden>
        <input asp-for="Cantidad" value="@item.Cantidad" hidden>
        <input asp-for="Total" value="@item.Total" hidden>
        <input asp-for="Foto" value="@item.Foto" hidden>

        <tr>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>@item.Color</td>
            <td>@item.Precio</td>
            <td>@item.Cantidad</td>
            <td>@(item.Cantidad * item.Precio)</td>
            <td> <input asp-for="Estado" value="@item.Estado"> | <button class="btn"></button><a href="~/Contrato/RegistrarPedidoEspecial?id=@item.Id" class="btn">Cancelar</a></td>
            <td>@item.Foto</td>
    
        </tr>
    </form>
}
</Table>