@model List<Contrato>

<h1>Contratos del cliente</h1>
<Table>
    <tr>
        <th>Nombre Mueble</th>
        <th>Descripción</th>
        <th>Color</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Progreso</th>
        <th>Foto</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Mueble.Nombre</td>
        <td>@item.Mueble.Descripcion</td>
        <td>@item.Mueble.Color</td>
        <td>@item.Mueble.Precio</td>
        <td>@item.Cantidad</td>
        <td>@(item.Cantidad * item.Mueble.Precio)</td>
        <td>@item.Progreso</td>
        <td>@item.Mueble.Foto</td>

    </tr>
}
</Table>