@model Contrato

<h1>Registrar Contrato</h1>


<form method="post" asp-controller="contrato" asp-action="finalizarcontrato">
  <div class="form-row">
    <label for="nombremueble" class="col-sm-2 col-form-label">Nombre Mueble</label>
    <div class="col-sm-6">
      <input type="text" disabled class="form-control" id="nombremueble" placeholder="Nombre Mueble" value="@Model.Mueble.Nombre">
    </div>
    <label for="Cantidad" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-2">
      <input asp-for="Cantidad" class="form-control" id="Cantidad" placeholder="Cantidad">
    </div>
  </div>


    <input asp-for="Usuario" value="@Model.Usuario" hidden>
    <input asp-for="UsuarioId" value="@Model.UsuarioId" hidden>
    <input asp-for="Mueble" value="@Model.Mueble" hidden>
    <input asp-for="MuebleId" value="@Model.MuebleId" hidden>
    <input asp-for="Progreso" value="Fabricando Mueble" hidden>
    
    <h2>Pago Con Tarjeta</h2>

    <div class="form-group">
        <label>Nombre completo</label>
        <input class="form-control">
    </div>
    <div class="form-group">
        <label>Numero de tarjeta de crédito</label>
        <input class="form-control">
    </div>

    <div class="form-group">
        <label>Mes de Vencimiento</label>
        <select>
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Setiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
        </select>
    </div>
    <div class="form-group">
        <label>Año de Vencimiento</label>
        <input class="form-control">
    </div>

    <div class="form-group">
        <label>Código de Seguridad</label>
        <input class="form-control">
    </div>

    <div class="form-row">
        <button class="btn btn-primary">Realizar Contrato</button>
    </div>
</form>